*{
    font-family: Varela;
    
    
}
body{
    display: flex;
    flex-direction: column;
     min-width: 330px;
}

header{
    
  
     height: 110px;
    display: flex;
    flex-direction: column;
   border-bottom: 2px solid #EF5DA8 ;
    background-color: white;
   
    align-content: center;
    
}
section{ 
    display: flex;
    flex-direction: column;
    
    
}
.article__productos{
    
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.article__boleta{
    border-top: 2px dashed #EF5DA8;
    
    height: 283px;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    margin-bottom: 34px;
}
footer{
    width: 100%;
    border-top: .5px solid black;
    display: flex;
    min-width: 343px;
}
/*-------------TOP INVITADO Y BOTONES ------*/
.top{
    width: 100%;
/*    border: 1px solid red;
*/    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    font-size: 16px;
}
.top__iconLeft{
    position: absolute;
    width: 20px;
    height: 20px;
  left: 20px;
}
.top__guess{
/*border: 0.5px solid black;
*/
height: 30px;
width: 120px;
font-weight: 600;
font-size: 15px;
text-align: center;

}
.top__guess i{
    margin-left: 10px;
    transform: rotate(180deg);
}
.top__iconPlus{
/*    border: 0.5px solid black;
*/   width: 20px;
    height: 20px;
    position: absolute;
    left: calc(100% - 40px);
}
.top__iconPlus img{
   
    cursor: pointer;
}

.top__second{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.top__second-title{
    font-size: 12px;

}
.top__second-iconShop{
    width: 20px;
    height: 20px;
    margin-left: 15px;
}
/*-------------LISTA PRODUCTOS----*/

.section__article-producto{
    height: 92px;
    border: .5px solid green;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.producto__circle{
    width: 80px;
    height: 77px;
    border-radius: 50%;
    border: 1.5px solid #EF5DA8;
}
.producto__info{
    border: .5px dashed black;
    margin: 10px 0 0 10px;

}
.info-p{
     border: .5px dashed red;
    width:120px;
    height: 20px;
}
.producto__info-title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}
.info-rosa p{
    color: #F178B6;
    font-size: 14px;
}
.producto__cantidad{
    border: .5px dashed black;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    height: 60px;
    position: absolute;
    right:20px;
    width: 100px;

}

.producto__cantidad-total{
    color: #BE04FF;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
}
.precio{
margin-left: 10px;
font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #EF5DA8;


}
.producto__cantidad-restar{
    position: absolute;
    right: 0;

}

/*-------BOLETA-------------------*/

.article__boleta-uno{

}
.article__boleta-uno p{
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;

}
.article__boleta-dos{
    margin-top: 10px;

}
.article__boleta-dos input[type=text]{
    width: 60%;
    height: 30px;
    background: rgba(118, 118, 128, 0.12);
    border-radius: 98px;
    border: none;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

}
.article__boleta-dos input[type=button]{
    cursor: pointer;
    width: 30%;
    margin-left: 10px;
    height: 30px;
    background: rgba(118, 118, 128, 0.12);
    border-radius: 98px;
    border: none;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    background-color: #EF5DA8;
}
.article__boleta-dos input:focus{
    outline: transparent;
}
.article__boleta-tres{
    height: 68px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}
.tres__misCompras{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 14px;

}
.tres__misCompras p{
    margin-left: 30px;
}
.article__boleta-cuatro{
    margin: 20px;
}
.article__boleta-cuatro p{
     font-weight: 600;
    font-size: 18px;
    line-height: 100%;
}
.article__boleta-cinco{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article__boleta-cinco input{
    cursor: pointer;
    width: 40%;
    margin-left: 10px;
    height: 35px;
    background: rgba(118, 118, 128, 0.12);
    border-radius: 98px;
    border: none;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    background-color: #EF5DA8;
}
.article__boleta-cinco input[name=no]{
    background-color: #BE04FF;
}

/*--------------- NUMERO 6 (FOOTER MENU IG)-----------*/



.footer__menu{
    position: fixed;
    bottom: 0;
    border-top: .5px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 44px;
    background-color: white;

}
.foot{
    flex-grow: 1;
    width: 30px;
    height: 30px;
    /*border: .5px dashed black;*/
    text-align: center;
    cursor: pointer;

}
.footer__menu-meCircle{
width: 28px;
height: 23.45px;
border: 2px solid #EF5DA8;
border-radius: 50%;
background-color:#FCB3BD ;
margin: 0 auto;

}
.footer__menu-me{

}